<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lexend+Deca&family=Lexend:wght@300&family=Monoton&family=Montserrat:wght@500&family=Open+Sans&family=Pacifico&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              'lexend': 'Lexend',
              'lexend-deca': 'Lexend Deca'
            },
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
  </head>
  <body class="font-lexend-deca"></body>
</html>
