<nav class="w-full p-5 fixed top-0 left-0 bg-slate-900 text-white mb-10 flex justify-between">
  <div class="logo font-semibold">
    <a href="/">MarioDB</a>
  </div>
  <ul class="flex gap-4">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
