
<% if (typeof errors != 'undefined') { %>
    <div role="alert" class="mb-5">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
          Perhatian!!!
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700 text-sm">
            <ul class="list-item">
                <% errors.forEach(error => { %>
                 <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
      </div>
<% } %>

<div class="max-w-xl p-5 rounded-2xl border-2 mx-auto">
    <h1 class="text-2xl font-bold mb-4">Kontak Baru</h1>
    <div class="">

        <form method="post" action="/contact">
            <label>
                <div class="text-sm text-slate-800 mb-1 font-semibold">Nama</div>
                <input id="nama" name="nama" type="text" class="py-1 px-2 w-full border rounded-md text-sm mb-4" placeholder="Masukkan Nama" required>
            </label>
            <label>
                <div class="text-sm text-slate-800 mb-1 font-semibold">Email</div>
                <input id="email" name="email" type="email" class="py-1 px-2 w-full border rounded-md text-sm mb-4" placeholder="Masukkan email" required>
            </label>
            <label>
                <div class="text-sm text-slate-800 mb-1 font-semibold">No Hp</div>
                <input id="noHp" name="noHp" type="text" class="py-1 px-2 w-full border rounded-md text-sm mb-4" placeholder="Masukkan noHp" required>
            </label>
            <button
              class="py-1.5 px-3 bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white text-xs rounded-lg"
              >Kirim</button>
          </form>

    </div>
</div>